version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "06:00"
    open-pull-requests-limit: 5
    assignees:
      - "victorzarzar"
    commit-message:
      prefix: "chore"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "06:00"
    open-pull-requests-limit: 5
    assignees:
      - "victorzarzar"
    commit-message:
      prefix: "chore"
